.container{
     border: 3px solid greenyellow;  
     height: 80vh; 
     display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
}
.box{
    background-color: black;
    border: 5px solid purple;
    color:aqua;
    border-radius: 10px;
    margin: 5px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box4 {
    flex-grow: 4;
}